.form
    .form__title
      .title.title--form авторизуйтесь
    form.form__firstpart
        label.form__block.form__block--login
            input.form__input(type="text" name="name" placeholder="Логин" required)
        label.form__block.form__block--password
            input.form__input(type="text" name="password" placeholder="Пароль" required)
    form.form__secondpart
        label.form__block.form__block--checkbox
            input.form__checkbox(type="checkbox" name="human" required)
            span.form__checkbox-fake
            span.form__checkbox-title Я человек
        label.form__block
            .form__block-question Вы точно не робот?
            .form__radios
                label.form__block-radio
                    input.form__radio(type="radio" name="test" required)
                    span.form__radio-fake
                    span.form__radio-title Да
                label.form__block-radio
                    input.form__radio(type="radio" name="test" required)
                    span.form__radio-fake
                    span.form__radio-title Не уверен