//- - 
//-   var obj = [
//-     {
//-       link: '<a href="#">Мои работы</a>'
//-     },{
//-       link: '<a href="#">Обо мне</a>'
//-     },{
//-       link: '<a href="#">Блог</a>'
//-     }
//-   ]

ul.nav
  li.nav__item
    a.nav__link(href="works.html") Мои работы
  li.nav__item
    a.nav__link(href="about.html") Обо мне
  li.nav__item
    a.nav__link(href="block.html") Блог