footer.footer
    .footer__content
        ul.footer__items
            li.footer__item
                .footer__desc Этот сайт сделал в рамках обучения в Школе онлайн образования Loftschool.
            li.footer__item
                .footer__nav
                    ul.footer-nav
                        li.footer-nav__item
                            a.footer-nav__item-link(href="works.html") Мои работы
                        li.footer-nav__item
                            a.footer-nav__item-link(href="about.html") Обо мне
                        li.footer-nav__item
                            a.footer-nav__item-link(href="block.html") Блог
                        li.footer-nav__item
                            a.footer-nav__item-link(href="index2.html") Авторизация
                .footer__social
                    ul.social
                        li.social__item
                            a.social__item-link(href="https://vk.com/vusal_asd")
                                svg.social__item-svg--footer(style="width: 35px; height: 28px;")
                                    use(xlink:href="assets/images/icons/sprite.svg#vk")
                        li.social__item
                            a.social__item-link(href="https://github.com/Vusal27")
                                svg.social__item-svg--footer(style="width: 30px; height: 28px;")
                                    use(xlink:href="assets/images/icons/sprite.svg#github")
                        li.social__item
                            a.social__item-link(href="#")
                                svg.social__item-svg--footer(style="width: 30px; height: 27px;")
                                    use(xlink:href="assets/images/icons/sprite.svg#in")
            li.footer__item
                .footer__contacts
                    ul.footer-contact
                        li.footer-contact__item skype-Vusal Gakhramanov
                        li.footer-contact__item
                            a.footer-contact__item-link(href="mailto:nuruva02@gmail.com") nuruva02@gmail.com
                        li.footer-contact__item
                            a.footer-contact__item-link(href="tel:+79312009324") +7 931 200 93 24
                        li.footer-contact__item г.Санкт-Петербург ул.Миллионная,д.1 
    .footer__copyright
        include copyright