.navigate
    ul.navigate__list
        li.navigate__item
            a.navigate__link.navigate__link--active(href="#") мои работы
        li.navigate__item
            a.navigate__link(href="block.html") блог
        li.navigate__item
            a.navigate__link(href="about.html") обо мне
        li.navigate__item
            a.navigate__link(href="index2.html") авторизация