.section.section-hero.section-hero--blog
    include header
    .user
        .user__avatar
            img.avatar(src="assets/images/content/avatar.jpg", alt="avatar")      
        .user__title
            h2.title.title--blog блог
        .user__desc
            h3.desc Статьи, которые я написал
.blog-wrap
    .blog__bg
        svg.blog__bg-svg(style="width: 100%; height: 400px;")
            use(xlink:href="assets/images/icons/sprite.svg#bg")
    .blog-section
        .blog
            .blog__composition
                .blog__list
                    ul.composition
                        li.composition__item
                            .composition__content 
                                a.composition__link.composition__link--activ Самое важное в SASS
                        li.composition__item
                            .composition__content
                                a.composition__link Приёмы в вёрстке, без которых не обходится ни один сайт
                        li.composition__item
                            .composition__content
                                a.composition__link Самый необходимый набор Gulp плагинов
                        li.composition__item
                            .composition__content
                                a.composition__link Почему я выбрал Pug
            .blog__container
                .blog__content
                    .article.article--activ
                        .article__title
                            .title Самое важное в SASS
                        .article__data
                            .data 22 ноября 2018
                        .article__text
                            .text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                    .article
                        .article__title
                            .title Приёмы в вёрстке, без которых не обходится ни один сайт
                        .article__data
                            .data 13 ноября 2018
                        .article__text
                            .text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                    .article
                        .article__title
                            .title Самый необходимый набор Gulp плагинов
                        .article__data
                            .data 1 ноября 2018
                        .article__text
                            .text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                    .article
                        .article__title
                            .title Почему я выбрал Pug
                        .article__data
                            .data 25 октября 2018
                        .article__text
                            .text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
            include ../common/footer