.parallax.parallax--header
        video.video--header(src="./assets/images/bg/night.mp4" autoplay loop)
        .parallax__layer
            img.parallax__img(src="./assets/images/bg/night_no_bg1.png", alt="mountains-parallax")
        .header__social
            include header-socials
        .header__burger
            include burger-menu
        .header__person
            .user
                .user__avatar
                    img.avatar(src="./assets/images/content/avatar.jpg", alt="avatar")      
                .user__title
                    h2.title.title--blog блог
                .user__desc
                    h3.desc.desc--header Статьи, которые я написал
        .down
            a.down__link
                svg.down__svg(style="width: 30px; height: 20px;")
                    use(xlink:href="./assets/images/icons/sprite.svg#arrow_down")
        .main-content
            .blog
                .blog__background
                .blog__composition
                    .blog__list
                        ul.composition
                            li.composition__item
                                .composition__content 
                                    a.composition__link.composition__link--activ Самое важное в SASS
                            li.composition__item
                                .composition__content
                                    a.composition__link Приёмы в вёрстке, без которых не обходится ни один сайт
                            li.composition__item
                                .composition__content
                                    a.composition__link Самый необходимый набор Gulp плагинов
                            li.composition__item
                                .composition__content
                                    a.composition__link Почему я выбрал Pug
                .blog__container
                    .blog__content
                        .article.article--activ
                            .article__title
                                .title.title--articles Самое важное в SASS
                            .article__data
                                .data 22 ноября 2018
                            .article__text
                                .text
                                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        .article
                            .article__title
                                .title.title--articles Приёмы в вёрстке, без которых не обходится ни один сайт
                            .article__data
                                .data 13 ноября 2018
                            .article__text
                                .text
                                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        .article
                            .article__title
                                .title.title--articles Самый необходимый набор Gulp плагинов
                            .article__data
                                .data 1 ноября 2018
                            .article__text
                                .text
                                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        .article
                            .article__title
                                .title.title--articles Почему я выбрал Pug
                            .article__data
                                .data 25 октября 2018
                            .article__text
                                .text
                                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                include ../common/footer