ul.social
  li.social__item
    a.social__item-link(href="https://vk.com/vusal_asd")
      svg.social__item-svg(style="width: 35px; height: 35px;")
        use(xlink:href="assets/images/icons/sprite.svg#vk")
  li.social__item
    a.social__item-link(href="https://github.com/Vusal27")
      svg.social__item-svg(style="width: 30px; height: 30px;")
        use(xlink:href="assets/images/icons/sprite.svg#github")
  li.social__item
    a.social__item-link(href="#")
      svg.social__item-svg(style="width: 30px; height: 30px;")
        use(xlink:href="assets/images/icons/sprite.svg#in")