include ./common/_mixins

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | welcome page
    link(rel="stylesheet", href="main.min.css")
  body
    .wrapper
      .parallax
        video.video(src="./assets/images/bg/night.mp4" autoplay loop)
        .parallax__layer
          img.parallax__img(src="./assets/images/bg/night_no_bg1.png", alt="mountains-parallax")
        block auth-btn
        .layout
          block content
        .copyright.copyright--auth @ Гахраманов Вусал | создано с любовью в Loftschool | 2018
        .copyright__phone.copyright__phone-position @ Гахраманов Вусал 
            .copyright__phone Создано с любовью в Loftschool | 2018

    script(src="auth.bundle.js")