include ./common/_mixins

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | blog
    link(rel="stylesheet", href="main.min.css")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeKfnfYt-aU3BQaK9A_oQV0sbkfZG-tm4&callback=initMap" type="text/javascript")
  body
    .wrapper
      .preloader
        img.loader(src="./assets/images/content/night_preloader.gif" alt="preloader")
      block content
      block scripts

