body, html {
  height: 100%;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  line-height: 1.42;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  overflow: visible;
  overflow-x: hidden;
  min-height: 100%;
  position: relative;
  color: white;
}

.section {
  min-height: 100vh;
}

.main-content {
  height: 100vh;
  background: url('assets/images/bg/bg-night.jpg') 0 0 / cover no-repeat ;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0 40px;
  @include phone() {
    padding: 10px;
  }
  &--flex-none {
    display: block;
  }
}

.section-hero {
  width: 100%;
  background: url('assets/images/bg/bg-night.jpg') 0 0 / cover no-repeat ;
  text-align: center;
  background-size: 110% 700px;
  min-height: 650px;
  background-position-y: -50px;
  &--works {
    background-size: 100% 100%;
    background-position-y: 0;
  }
  &--blog {
    background-size: 100% 700px;
    background-position-y: -150px;
  }
}

.container {
  margin: 0 auto;
  width: 95%;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}

:root {
  font-size: 16px;
  @include laptop {
      font-size: 15px;
  }
  @include tablet {
      font-size: 14px; 
  }
  @include phone {
      font-size: 13px;
  }
}