body, html {
  height: 100%;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  line-height: 1.42;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  overflow: visible;
  overflow-x: hidden;
  min-height: 100%;
  position: relative;
  color: white;
}

.section {
  min-height: 100vh;
}

.main-content {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.parallax {
  height: 100vh;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  @include phone() {
    padding: 0 10px;
  }
  &--header {
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 100px;
  }
  &__layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(-50px) scale(1.5);
    @include tablet() {
      transform: translateZ(-20px) scale(1.2);
    }
    @include phone() {
      transform: translateZ(-10px) scale(1.1);
    }
  }
  &__img {
    position: absolute;
    width: 110%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    @include tablet() {
      width: 150%;
    }
    @include phone() {
      width: 150%;
    }
  }
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


.header {
  width: 100%;
  text-align: center;
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 95%;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}

:root {
  font-size: 16px;
  @include laptop {
      font-size: 15px;
  }
  @include tablet {
      font-size: 14px; 
  }
  @include phone {
      font-size: 13px;
  }
}