.layout {
    height: 400px;
    width: 380px;
    background-color: rgba(27,31,41, .5);
    align-self: center;
    position: relative;
    padding: 35px 20px;
    @include phone() {
      width: 100%;
    }
}
.user__title {
  margin-top: 20px;
  &--about {
    margin-top: 0;
    text-align: center;
    margin-bottom: 25px;
    position: relative;
    @include tablet() {
      margin-bottom: 20px;
    }
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 80px;
      background-color: #425c66;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,0)
    }
  }
}
.user__desc {
  margin-top: 5px;
  @include phone() {
    padding: 0 10px;
  }
}
.user__socials {
  margin-top: 15px;
}
.user__btns, .form__btns {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}
.user__avatar {
  margin-bottom: 30px;
  @include phone() {
    margin-bottom: 30px;
  }
  &--comment {    
    @include tablet() {
      margin-bottom: 50px;
    }
    @include phone() {
      margin-bottom: 20px;
    }
  }
}
.user__p {
  margin-bottom: 10px;
  @include phone() {
    font-size: 14px;
  }
}
.user__text {
  @include tablet() {
    text-align: left;
    margin-left: 20px;
  }
  @include phone() {
    margin-left: 10px;
  }
}