.avatar {
    width: 145px;
    height: 150px;
    border-radius: 50%;
    &--about {
      border-radius: 0;
      width: 100%;
      height: 100%;
    }
    &--comment {
      width: 80px;
      height: 80px;
    }
  }