.header {
    position: relative;
    &__burger {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    &__social {
        position: absolute;
        top: 30px;
        left: 30px;
    }
}