.social {
    display: flex;
    justify-content: center;
    &__item {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        &-svg {
            fill: #0b42b0;
            cursor: pointer;
            &:hover {
                fill: #064cbd;
            }
            &--header {
                fill:white;
                &:hover {
                    fill: #064cbd;
                }
            }
            &--footer {
                fill:#9ea1a3;
                &:hover {
                    fill: #064cbd;
                }
            }
        }
        &-link {
        display: block;
        }
    }
}