.header {
  min-height: 85px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &__auth {
    margin-right: 100px;
  }
}
.auth {
  display: block;
  background: transparent;
  font-size: 16px;
  color: white;
  padding: 18px 30px;
  border: 1px solid white;
  transition: .3s;
  &:hover {
    background-color: #0b42b0;
    border-color: #0b42b0;
  }
}