.slider {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    &__pic {
        width: 100%;
        height: 100%;
    }
    &__item {
        position: relative;
        width: 50%;
        height: 30%;
        &::before {
            content: "";
            display: block;
            background: rgba(179, 181, 189, .5);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        &:hover::before {
            background: rgba(179, 181, 189, .7);
        }
        &--activ {
            width: 100%;
            height: 70%;
            &:hover::before {
                background: rgba(179, 181, 189, .0);
            }
            &::before {
                background: transparent;
            }
        }
    }
    &__down, &__up {
        background: transparent;
        position: absolute;
        width: 50px;
        height: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &-svg {
            width: 30px;
            height: 20px;
            fill: rgba(250, 250, 250, .7);
            &:hover {
                fill: rgba(250, 250, 250, 1);
            }
        }
    }
}