.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 300;
    &__content {
        flex: 1;
        display: flex;
        align-items: center;
        background-color: rgba(59,61,69, .9);
    }
    &__items {
        display: flex;
        flex: 1;
    }
    &__item {
        flex:1;
        height: 90px;
        position: relative;
        padding-left: 30px;
        text-align: left;
        color: $light-grey;
        &::after {
            content: "";
            width: 1px;
            background-color: white;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
          }
          &:last-child:after {
            background-color: transparent;
          }
    }
    &__nav {
        margin-bottom: 25px;
    }
    &-nav {
        display: flex;
        font-weight: 600;
        &__item {
            margin-right: 30px;
            &-link {
                font-size: 16px;
            }
        }
    }
    &-contact__item {
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
        &-link {
        color: $light-grey;
        }
    }
    &__copyright {
        height: 40px;
        background-color: #0b42b0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__social {
        display: flex;
        justify-content: flex-start;
    }
}