// .slider {
//     display: flex;
//     flex-wrap: wrap;
//     width: 100%;
//     height: 100%;
//     &__pic {
//         width: 100%;
//         height: 100%;
//         &--activ {
//             @include tablet() {
//                 height: 65%;
//             }
//             @include phone() {
//                 height: 50%;
//             }
//         }
//     }
//     &__item {
//         position: relative;
//         width: 50%;
//         height: 30%;
//         @include tablet() {
//             height: 20%;
//         }
//         @include phone() {
//             height: 15%;
//         }
//         &::before {
//             content: "";
//             display: block;
//             background: rgba(179, 181, 189, .5);
//             position: absolute;
//             top: 0;
//             left: 0;
//             right: 0;
//             bottom: 0;
//         }
//         &:hover::before {
//             background: rgba(179, 181, 189, .7);
//         }
//         &--activ {
//             width: 100%;
//             height: 70%;
//             @include tablet() {
//                 height: 80%;
//             }
//             @include phone() {
//                 height: 85%;
//             }
//             &:hover::before {
//                 background: rgba(179, 181, 189, .0);
//             }
//             &::before {
//                 background: transparent;
//             }
//         }
//     }
//     &__content {
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         flex: 1;
//         background-color: white;
//         display: none;
//         @include tablet() {
//             display: flex;
//             padding: 30px 0;
//             height: 35%;
//         }
//         @include phone() {
//             height: initial;
//         }
//     }
//     &__name {
//         position: relative;
//         margin-bottom: 20px;
//         text-align: center;
//         &::after {
//             content: "";
//             display: block;
//             height: 2px;
//             width: 80px;
//             background-color: #425c66;
//             position: absolute;
//             bottom: 0;
//             left: 50%;
//             transform: translate(-50%,0)
//         }
//     }
//     &__skill {
//         margin-bottom: 20px;
//     }
//     &__button {
//         width: 200px;
//         height: 50px;
//         background: #064cbd;
//         color: white;
//     }
//     &__down, &__up {
//         background: transparent;
//         position: absolute;
//         width: 50px;
//         height: 30px;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         &-svg {
//             width: 30px;
//             height: 20px;
//             fill: rgba(250, 250, 250, .7);
//             &:hover {
//                 fill: rgba(250, 250, 250, 1);
//             }
//         }
//     }
// }


.slider {
    height: 100vh;
    min-height: 650px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 30%;
    &__info-container {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    &__display {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    &__buttons {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: flex;
    }
}