.title {
  font-size: 28px;
  font-weight: 500;
  &--form {
    text-transform: uppercase;
    font-family: 'sansun', Times, serif;
    font-size: 35px;    
  }
  &--blog, &--works, &--what-about {
    text-transform: uppercase;
    font-family: 'sansun', Times, serif;
    font-size: 60px;    
  }
  &--about, &--works-name, &--form-connect {
    font-family: 'sansun', Times, serif;
    font-size: 35px;
    padding: 25px 0;
    text-transform: uppercase;
  }
}